@import url('https://fonts.googleapis.com/css?family=Oswald|Noto+Serif');

body {
    background: #DDD;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 500px;
    transition: 0.3s;
    margin-top: 5px;
    margin-bottom: 10px;
    background: white;
    box-sizing: border-box;
    overflow: hidden;
}

.dark {
    background-color: #333333;
    color: #ddd;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
}

.card p {
    font-family: 'Noto Serif', serif;
    margin: 5px;
}

.card .info {
    padding: 0px;
    margin: 0px;
}

.card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card p.title {
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
}

.card p.sub {
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
}

.bordered {
    border: 1px solid black;
}

.rounded {
    border-radius: 5px;
}

.fab {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background: #333;
    color: #fff;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
                0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    border: none;
    display: block;
    transform: translateY(-28px);
    float: right;
    margin-right: 10px;
}

.fab:hover {
    box-shadow: 0 0 8px rgba(0,0,0,.14),
                0 8px 10px rgba(0,0,0,.28);
}

.fab:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
    /* Portrait Phone */
    .card {
        width: 100%;
    }
}
